<div class="container">
    <header>
        <h1 class="title"><img src="{{image}}" class="title-img" alt="{{symnol}}logo">{{coinName}} -
            {{toUpperCase symbol}}</h1>
        <p class="value" id="value">$ {{localeString value}}</p>
        <a class="home btn btn-primary" href="../../" role="button">Home</a>
    </header>
    <br />
    <div class="row mx-auto">
        <div class="col-12-lg col-12-md col-12-sm w-100">
            <div class=" container-fluid w-100">
                <div id="loader"></div>
                <canvas class="invisible" id="myChart" height="500"></canvas>
            </div>
        </div>
    </div>
</div>